.jumbotron{
    background-color: cadetblue;
}

.card-hotel{
    flex: 1 150px;
    padding: 2px 2px 2px 2px;
    height: 100%;
    margin-top: 10px;
}

.btn-reserve{
    width: 100%;
}

footer{
    background-color: lightblue;
}